<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="225093fd224d4cae979fdb1e7d0b3ed1" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_225093fd224d4cae979fdb1e7d0b3ed1 = echarts.init(
            document.getElementById('225093fd224d4cae979fdb1e7d0b3ed1'), 'white', {renderer: 'canvas'});
        var option_225093fd224d4cae979fdb1e7d0b3ed1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u7f8e\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2010",
                    90.80500031
                ],
                [
                    "2011",
                    90.4980011
                ],
                [
                    "2012",
                    90.45899963
                ],
                [
                    "2013",
                    90.4980011
                ],
                [
                    "2014",
                    90.44599915
                ],
                [
                    "2015",
                    90.42299652
                ],
                [
                    "2016",
                    90.52100372
                ],
                [
                    "2017",
                    90.52600098
                ],
                [
                    "2018",
                    90.75
                ],
                [
                    "2019",
                    90.96299744
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u4e2d\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2010",
                    37.65999985
                ],
                [
                    "2011",
                    39.04899979
                ],
                [
                    "2012",
                    40.19100189
                ],
                [
                    "2013",
                    41.95100021
                ],
                [
                    "2014",
                    43.45600128
                ],
                [
                    "2015",
                    44.71400070000001
                ],
                [
                    "2016",
                    45.74100113
                ],
                [
                    "2017",
                    46.77099991
                ],
                [
                    "2018",
                    47.4980011
                ],
                [
                    "2019",
                    48.21400070000001
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u65e5\u672c",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2010",
                    81.13500214
                ],
                [
                    "2011",
                    81.59999847
                ],
                [
                    "2012",
                    81.75700378
                ],
                [
                    "2013",
                    81.93900299
                ],
                [
                    "2014",
                    81.98999786
                ],
                [
                    "2015",
                    82.0039978
                ],
                [
                    "2016",
                    82.40399933
                ],
                [
                    "2017",
                    82.85700226
                ],
                [
                    "2018",
                    83.03800201
                ],
                [
                    "2019",
                    83.19499969
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u5fb7\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2010",
                    84.53600311
                ],
                [
                    "2011",
                    84.63099670000001
                ],
                [
                    "2012",
                    84.74199677
                ],
                [
                    "2013",
                    84.98000336
                ],
                [
                    "2014",
                    84.82099915
                ],
                [
                    "2015",
                    85.1760025
                ],
                [
                    "2016",
                    85.29900359999999
                ],
                [
                    "2017",
                    85.2480011
                ],
                [
                    "2018",
                    85.5
                ],
                [
                    "2019",
                    85.72899628
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u82f1\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2010",
                    91.97100067
                ],
                [
                    "2011",
                    91.83000183
                ],
                [
                    "2012",
                    91.66699982
                ],
                [
                    "2013",
                    91.71800232
                ],
                [
                    "2014",
                    91.35199738
                ],
                [
                    "2015",
                    91.68599701
                ],
                [
                    "2016",
                    91.77799988
                ],
                [
                    "2017",
                    91.69400024
                ],
                [
                    "2018",
                    91.79799652
                ],
                [
                    "2019",
                    91.90100098
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7f8e\u56fd",
                "\u4e2d\u56fd",
                "\u65e5\u672c",
                "\u5fb7\u56fd",
                "\u82f1\u56fd"
            ],
            "selected": {
                "\u7f8e\u56fd": true,
                "\u4e2d\u56fd": true,
                "\u65e5\u672c": true,
                "\u5fb7\u56fd": true,
                "\u82f1\u56fd": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2010",
                "2011",
                "2012",
                "2013",
                "2014",
                "2015",
                "2016",
                "2017",
                "2018",
                "2019"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u670d\u52a1\u4e1a\u5973\u6027\u5c31\u4e1a\uff08\u5360\u5973\u6027\u5c31\u4e1a\u7684\u767e\u5206\u6bd4\uff09",
            "subtext": "\u4e16\u754c\u53d1\u8fbe\u56fd\u5bb6\u5341\u5e74\u6570\u636e"
        }
    ]
};
        chart_225093fd224d4cae979fdb1e7d0b3ed1.setOption(option_225093fd224d4cae979fdb1e7d0b3ed1);
    </script>
</body>
</html>
