<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="97b958c7a8a54d3796a6e3f7409ce4cd" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_97b958c7a8a54d3796a6e3f7409ce4cd = echarts.init(
            document.getElementById('97b958c7a8a54d3796a6e3f7409ce4cd'), 'white', {renderer: 'canvas'});
        var option_97b958c7a8a54d3796a6e3f7409ce4cd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u7f8e\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2010",
                    0.735000014
                ],
                [
                    "2011",
                    0.771000028
                ],
                [
                    "2012",
                    0.763999999
                ],
                [
                    "2013",
                    0.672999978
                ],
                [
                    "2014",
                    0.6990000009999999
                ],
                [
                    "2015",
                    0.7419999840000001
                ],
                [
                    "2016",
                    0.7749999759999999
                ],
                [
                    "2017",
                    0.76700002
                ],
                [
                    "2018",
                    0.754999995
                ],
                [
                    "2019",
                    0.7429999709999999
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u4e2d\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2010",
                    33.75299835
                ],
                [
                    "2011",
                    31.90699959
                ],
                [
                    "2012",
                    30.75099945
                ],
                [
                    "2013",
                    28.643999100000002
                ],
                [
                    "2014",
                    26.82799911
                ],
                [
                    "2015",
                    25.96999931
                ],
                [
                    "2016",
                    25.11700058
                ],
                [
                    "2017",
                    24.43799973
                ],
                [
                    "2018",
                    24.23500061
                ],
                [
                    "2019",
                    24.03199959
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u65e5\u672c",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2010",
                    3.926000118
                ],
                [
                    "2011",
                    3.7209999560000004
                ],
                [
                    "2012",
                    3.535000086
                ],
                [
                    "2013",
                    3.3810000419999997
                ],
                [
                    "2014",
                    3.301000118
                ],
                [
                    "2015",
                    3.224999905
                ],
                [
                    "2016",
                    3.049999952
                ],
                [
                    "2017",
                    2.9930000310000002
                ],
                [
                    "2018",
                    2.95600009
                ],
                [
                    "2019",
                    2.9210000039999997
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u5fb7\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2010",
                    1.197000027
                ],
                [
                    "2011",
                    1.1770000459999999
                ],
                [
                    "2012",
                    1.097000003
                ],
                [
                    "2013",
                    1.008000016
                ],
                [
                    "2014",
                    1.0089999440000001
                ],
                [
                    "2015",
                    0.95599997
                ],
                [
                    "2016",
                    0.893000007
                ],
                [
                    "2017",
                    0.8830000159999999
                ],
                [
                    "2018",
                    0.8690000179999999
                ],
                [
                    "2019",
                    0.8560000059999999
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u82f1\u56fd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2010",
                    0.605000019
                ],
                [
                    "2011",
                    0.657000005
                ],
                [
                    "2012",
                    0.68599999
                ],
                [
                    "2013",
                    0.601000011
                ],
                [
                    "2014",
                    0.7120000120000001
                ],
                [
                    "2015",
                    0.644999981
                ],
                [
                    "2016",
                    0.625
                ],
                [
                    "2017",
                    0.646000028
                ],
                [
                    "2018",
                    0.63499999
                ],
                [
                    "2019",
                    0.624000013
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7f8e\u56fd",
                "\u4e2d\u56fd",
                "\u65e5\u672c",
                "\u5fb7\u56fd",
                "\u82f1\u56fd"
            ],
            "selected": {
                "\u7f8e\u56fd": true,
                "\u4e2d\u56fd": true,
                "\u65e5\u672c": true,
                "\u5fb7\u56fd": true,
                "\u82f1\u56fd": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2010",
                "2011",
                "2012",
                "2013",
                "2014",
                "2015",
                "2016",
                "2017",
                "2018",
                "2019"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u519c\u4e1a\u5973\u6027\u5c31\u4e1a\uff08\u5360\u5973\u6027\u5c31\u4e1a\u7684\u767e\u5206\u6bd4\uff09",
            "subtext": "\u4e16\u754c\u53d1\u8fbe\u56fd\u5bb6\u5341\u5e74\u6570\u636e"
        }
    ]
};
        chart_97b958c7a8a54d3796a6e3f7409ce4cd.setOption(option_97b958c7a8a54d3796a6e3f7409ce4cd);
    </script>
</body>
</html>
